[submodule "src/cakephp"]
	path = src/lampapp
	url = git@github.com:euonymus/ar_api.git
	ignore = dirty
[submodule "src/secrets"]
	path = src/secrets
	url = git@bitbucket.org:dg_ar/ar_api_secrets.git
	ignore = dirty
[submodule "chef"]
	path = chef
	url = git@github.com:euonymus/ar_api_chef.git
